/* General Rules *//

body {
  display: flex;
  flex-direction: column;
}

/* Header Styling */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header_logo span {
  color: #66cdaa;
  margin-left: 20px;
}
